Repository ceramicnetwork/rust-ceramic, changes with the owners that CODEOWNERS names for each.
All owners: @ceramicnetwork/eng-reviewers, @smrz2001, @AaronGoldman, @dav1do, @nathanielc, @dbcfd, @stbrody

CODEOWNERS:

# Default all files to the eng reviewers team
* @ceramicnetwork/eng-reviewers

# Pick two reviewers for each top level directory:
# the owner and someone from the eng-reviewers team.
/.github/           @smrz2001       @ceramicnetwork/eng-reviewers
/anchor-service/    @AaronGoldman   @ceramicnetwork/eng-reviewers
/api-server/        @dav1do         @ceramicnetwork/eng-reviewers
/api/               @dav1do         @ceramicnetwork/eng-reviewers
/beetle/            @nathanielc     @ceramicnetwork/eng-reviewers
/ci-scripts/        @smrz2001       @ceramicnetwork/eng-reviewers
/core/              @nathanielc     @ceramicnetwork/eng-reviewers
/event/             @nathanielc     @ceramicnetwork/eng-reviewers
/flight/            @nathanielc     @ceramicnetwork/eng-reviewers
/fpm/               @dbcfd          @ceramicnetwork/eng-reviewers
/kubo-rpc-server/   @nathanielc     @ceramicnetwork/eng-reviewers
/kubo-rpc/          @nathanielc     @ceramicnetwork/eng-reviewers
/metrics/           @dav1do         @ceramicnetwork/eng-reviewers
/migrations/        @dav1do         @ceramicnetwork/eng-reviewers
/olap/              @nathanielc     @ceramicnetwork/eng-reviewers
/one/               @stbrody        @ceramicnetwork/eng-reviewers
/p2p/               @nathanielc     @ceramicnetwork/eng-reviewers
/recon/             @AaronGoldman   @ceramicnetwork/eng-reviewers
/service/           @dav1do         @ceramicnetwork/eng-reviewers
/store/             @dav1do         @ceramicnetwork/eng-reviewers
/validation/        @dav1do         @ceramicnetwork/eng-reviewers

chore: version v0.36.0 (#533)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  api-server/Cargo.toml
  api-server/README.md
  api-server/api/openapi.yaml
  api-server/src/lib.rs
  api/ceramic.yaml
  kubo-rpc-server/Cargo.toml
  kubo-rpc-server/README.md
  kubo-rpc-server/api/openapi.yaml
  kubo-rpc-server/src/lib.rs
  kubo-rpc/kubo-rpc.yaml
Owners: @ceramicnetwork/eng-reviewers, @dav1do, @nathanielc

refactor: small logic change for readability
  olap/src/aggregator/ceramic_patch.rs
Owners: @nathanielc, @ceramicnetwork/eng-reviewers

feat: support dimensions in conclusion feed
  arrow-test/src/lib.rs
  event-svc/src/tests/event.rs
  flight/src/conversion.rs
  flight/src/server.rs
  flight/src/types.rs
  flight/tests/server.rs
  olap/src/aggregator/mod.rs
Owners: @ceramicnetwork/eng-reviewers, @nathanielc

refactor: small logic change for readability (#534)
  olap/src/aggregator/ceramic_patch.rs
Owners: @nathanielc, @ceramicnetwork/eng-reviewers

chore: write some tests for validation
  event-svc/src/event/service.rs
  event-svc/src/event/validator/event.rs
  event-svc/src/tests/mod.rs
Owners: @ceramicnetwork/eng-reviewers

fix: spawn std task instead of tokio to avoid blocking runtime (#532)
  p2p/src/swarm.rs
Owners: @nathanielc, @ceramicnetwork/eng-reviewers

feat: add webauthn signature validation (#511)
  Cargo.lock
  Cargo.toml
  event/src/unvalidated/signed/cacao.rs
  validation/Cargo.toml
  validation/src/signature/key_webauthn.rs
  validation/src/signature/mod.rs
  validation/src/test.rs
  validation/src/verifier/cacao_verifier.rs
  validation/src/verifier/event_verifier.rs
  validation/src/verifier/jws.rs
  validation/test-vectors/key-ecdsa-p256.car
  validation/test-vectors/key-webauthn.car
  validation/test-vectors/pkh-ethereum.car
  validation/test-vectors/pkh-solana.car
Owners: @ceramicnetwork/eng-reviewers, @nathanielc, @dav1do

fix: use map type for dimensions
  Cargo.lock
  Cargo.toml
  arrow-test/src/lib.rs
  event-svc/src/tests/event.rs
  flight/src/conversion.rs
  flight/src/server.rs
  flight/src/types.rs
  flight/tests/server.rs
  olap/src/aggregator/mod.rs
Owners: @ceramicnetwork/eng-reviewers, @nathanielc

feat: use dictionary for dimension values
  flight/src/conversion.rs
  flight/src/server.rs
  olap/src/aggregator/mod.rs
Owners: @nathanielc, @ceramicnetwork/eng-reviewers

refactor: rename struct based on review
  event-svc/src/event/validator/event.rs
  event-svc/src/event/validator/signed.rs
Owners: @ceramicnetwork/eng-reviewers

fix: allow for ~4B unique dimensions values
  flight/src/conversion.rs
  flight/src/server.rs
  olap/src/aggregator/mod.rs
Owners: @nathanielc, @ceramicnetwork/eng-reviewers

feat: support dimensions in conclusion feed (#535)
  Cargo.lock
  Cargo.toml
  arrow-test/src/lib.rs
  event-svc/src/tests/event.rs
  flight/src/conversion.rs
  flight/src/server.rs
  flight/src/types.rs
  flight/tests/server.rs
  olap/src/aggregator/mod.rs
Owners: @ceramicnetwork/eng-reviewers, @nathanielc

chore: version v0.37.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  api-server/Cargo.toml
  api-server/README.md
  api-server/api/openapi.yaml
  api-server/src/lib.rs
  api/ceramic.yaml
  kubo-rpc-server/Cargo.toml
  kubo-rpc-server/README.md
  kubo-rpc-server/api/openapi.yaml
  kubo-rpc-server/src/lib.rs
  kubo-rpc/kubo-rpc.yaml
Owners: @ceramicnetwork/eng-reviewers, @dav1do, @nathanielc

chore: version v0.37.0 (#537)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  api-server/Cargo.toml
  api-server/README.md
  api-server/api/openapi.yaml
  api-server/src/lib.rs
  api/ceramic.yaml
  kubo-rpc-server/Cargo.toml
  kubo-rpc-server/README.md
  kubo-rpc-server/api/openapi.yaml
  kubo-rpc-server/src/lib.rs
  kubo-rpc/kubo-rpc.yaml
Owners: @ceramicnetwork/eng-reviewers, @dav1do, @nathanielc

feat: use RecordBatchStream to run continuous queries
  olap/src/aggregator/mod.rs
Owners: @nathanielc, @ceramicnetwork/eng-reviewers

feat: steam queries
  olap/src/aggregator/mod.rs
Owners: @nathanielc, @ceramicnetwork/eng-reviewers

fix: use looping instead
  olap/src/aggregator/mod.rs
Owners: @nathanielc, @ceramicnetwork/eng-reviewers

feat: validate signed events (#503)
  event-svc/src/event/ordering_task.rs
  event-svc/src/event/service.rs
  event-svc/src/event/validator/event.rs
  event-svc/src/event/validator/grouped.rs
  event-svc/src/event/validator/mod.rs
  event-svc/src/event/validator/signed.rs
  event-svc/src/tests/mod.rs
  event-svc/src/tests/ordering.rs
Owners: @ceramicnetwork/eng-reviewers

refactor: set insertable as deliverable for init events
  event-svc/src/event/validator/event.rs
  event-svc/src/store/sql/entities/event.rs
  event-svc/src/store/sql/test.rs
Owners: @ceramicnetwork/eng-reviewers

refactor: adjust conclusion test to use api instead of recon store (stronger ordering requirements)
  event-svc/src/tests/event.rs
  event-svc/src/tests/mod.rs
Owners: @ceramicnetwork/eng-reviewers

refactor: split order events function into ordering with db and just in memory
  event-svc/src/event/order_events.rs
  event-svc/src/event/service.rs
Owners: @ceramicnetwork/eng-reviewers

feat: skip all ordering (in memory and db) for lazy deliverable (migrations)
  event-svc/src/event/service.rs
Owners: @ceramicnetwork/eng-reviewers

refactor: adjust event store to return pointer to inserted event and adjust internal service insert result
  event-svc/src/event/ordering_task.rs
  event-svc/src/event/service.rs
  event-svc/src/event/store.rs
  event-svc/src/store/sql/access/event.rs
Owners: @ceramicnetwork/eng-reviewers

refactor: remove unnecessary field from store insert result
  event-svc/src/event/service.rs
  event-svc/src/store/sql/access/event.rs
Owners: @ceramicnetwork/eng-reviewers

refactor: add back removed Eq derive
  event-svc/src/event/service.rs
Owners: @ceramicnetwork/eng-reviewers

refactor: return reference to inserted item from event store and reduce unnecessary ordering work (#530)
  event-svc/src/event/order_events.rs
  event-svc/src/event/ordering_task.rs
  event-svc/src/event/service.rs
  event-svc/src/event/store.rs
  event-svc/src/event/validator/event.rs
  event-svc/src/store/sql/access/event.rs
  event-svc/src/store/sql/entities/event.rs
  event-svc/src/store/sql/test.rs
  event-svc/src/tests/event.rs
  event-svc/src/tests/mod.rs
Owners: @ceramicnetwork/eng-reviewers
